In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

In [3]:
df = pd.read_feather('ArchivosUtiles/df.feather')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118765 entries, 0 to 118764
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Ruta            118765 non-null  object
 1   Sitio           118765 non-null  object
 2   Año             118765 non-null  object
 3   Camara          118765 non-null  object
 4   Extra           118765 non-null  object
 5   Archivo         118765 non-null  object
 6   Fecha           118751 non-null  object
 7   Hora            118751 non-null  object
 8   Animal_proba    110011 non-null  float32
 9   Animal          110011 non-null  float64
 10  Guanaco_proba   71383 non-null   float64
 11  Guanaco         71383 non-null   float64
 12  Especie         8789 non-null    object
 13  Cantidad_proba  8789 non-null    float64
 14  Cantidad        8789 non-null    float64
 15  Validar         110011 non-null  object
 16  Validado        110011 non-null  float64
dtypes: float32(1), float64(6), object(10)
memory usage: 15.9+ MB

In [5]:
df.head()

,Ruta,Sitio,Año,Camara,Extra,Archivo,Fecha,Hora,Animal_proba,Animal,Guanaco_proba,Guanaco,Especie,Cantidad_proba,Cantidad,Validar,Validado
0,Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0001...,Muestreo ct Iberica,2023,Ib1,100_BTCF,IMG_0001.JPG,2023-02-08,12:22:51,0.939226,1.0,NaN,NaN,None,NaN,NaN,True,0.0
1,Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0002...,Muestreo ct Iberica,2023,Ib1,100_BTCF,IMG_0002.JPG,2023-02-08,12:22:53,0.009811,0.0,NaN,NaN,None,NaN,NaN,False,0.0
2,Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0004...,Muestreo ct Iberica,2023,Ib1,100_BTCF,IMG_0004.JPG,2023-02-08,12:22:59,0.672598,1.0,NaN,NaN,None,NaN,NaN,True,0.0
3,Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0003...,Muestreo ct Iberica,2023,Ib1,100_BTCF,IMG_0003.JPG,2023-02-08,12:22:55,0.967046,1.0,0.000047,0.0,None,NaN,NaN,True,0.0
4,Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0006...,Muestreo ct Iberica,2023,Ib1,100_BTCF,IMG_0006.JPG,2023-02-08,12:23:04,0.999969,1.0,0.000003,0.0,None,NaN,NaN,True,0.0

In [6]:
df[df['Animal'].notna()]['Ruta']

0         Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0001...
1         Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0002...
2         Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0004...
3         Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0003...
4         Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0006...
                                ...
118759    Muestreo ct sauce/CT S 2023/S9 (las fotos dice...
118761    Muestreo ct sauce/CT S 2023/S9 (las fotos dice...
118762    Muestreo ct sauce/CT S 2023/S9 (las fotos dice...
118763    Muestreo ct sauce/CT S 2023/S9 (las fotos dice...
118764    Muestreo ct sauce/CT S 2023/S9 (las fotos dice...
Name: Ruta, Length: 110011, dtype: object

In [7]:
# Ordeno por Animal_proba descending
df = df[df['Animal'].notna()]
df.sort_values(by='Animal_proba', ascending=False)

,Ruta,Sitio,Año,Camara,Extra,Archivo,Fecha,Hora,Animal_proba,Animal,Guanaco_proba,Guanaco,Especie,Cantidad_proba,Cantidad,Validar,Validado
45736,Muestreo ct sauce/CT S 2023/S17/S17-b- (6695).JPG,Muestreo ct sauce,CT S 2023,S17,104_BTCF,S17-b- (6695).JPG,2023-03-15,14:20:11,1.0,1.0,0.645968,1.0,None,NaN,NaN,True,0.0
24396,Muestreo ct sauce/CT S 2023/S15/S15-b- (1185).JPG,Muestreo ct sauce,CT S 2023,S15,104_BTCF,S15-b- (1185).JPG,2023-03-20,09:06:54,1.0,1.0,0.890870,1.0,Guanaco,0.755236,1.0,False,0.0
60838,Muestreo ct sauce/CT S 2023/S19/S19-b- (1254).JPG,Muestreo ct sauce,CT S 2023,S19,104_BTCF,S19-b- (1254).JPG,2023-03-16,14:52:50,1.0,1.0,0.210017,0.0,None,NaN,NaN,True,0.0
60837,Muestreo ct sauce/CT S 2023/S19/S19-b- (1255).JPG,Muestreo ct sauce,CT S 2023,S19,104_BTCF,S19-b- (1255).JPG,2023-03-16,14:52:51,1.0,1.0,0.260183,0.0,None,NaN,NaN,True,0.0
60836,Muestreo ct sauce/CT S 2023/S19/S19-b- (1252).JPG,Muestreo ct sauce,CT S 2023,S19,104_BTCF,S19-b- (1252).JPG,2023-03-16,14:52:47,1.0,1.0,0.345491,0.0,None,NaN,NaN,True,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79962,Muestreo ct sauce/CT S 2023/S4/S4-a- (1194).JPG,Muestreo ct sauce,CT S 2023,S4,104_BTCF,S4-a- (1194).JPG,2023-02-21,12:39:59,0.0,0.0,NaN,NaN,None,NaN,NaN,False,0.0
96478,Muestreo ct sauce/CT S 2023/S4/S4-a- (703).JPG,Muestreo ct sauce,CT S 2023,S4,104_BTCF,S4-a- (703).JPG,2023-02-19,14:46:36,0.0,0.0,NaN,NaN,None,NaN,NaN,False,0.0
79963,Muestreo ct sauce/CT S 2023/S4/S4-a- (120).JPG,Muestreo ct sauce,CT S 2023,S4,104_BTCF,S4-a- (120).JPG,2023-02-19,12:48:42,0.0,0.0,NaN,NaN,None,NaN,NaN,False,0.0
79964,Muestreo ct sauce/CT S 2023/S4/S4-a- (1201).JPG,Muestreo ct sauce,CT S 2023,S4,104_BTCF,S4-a- (1201).JPG,2023-02-21,12:45:16,0.0,0.0,NaN,NaN,None,NaN,NaN,False,0.0
80913,Muestreo ct sauce/CT S 2023/S4/S4-a- (2057).JPG,Muestreo ct sauce,CT S 2023,S4,104_BTCF,S4-a- (2057).JPG,2023-02-22,16:03:11,0.0,0.0,NaN,NaN,None,NaN,NaN,False,0.0